body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
}

.div-nav{
    display: flex;
    align-items: center;
}

    /* Основний колір #212121; */
    /* Другорядний колір #757575; */
    /* Білий #FFFFFF */
    /* Акцент #2196F3 */
    /* Footer rgba(255, 255, 255, 0.6); */
    /* Background color #2F303A */
    /* Background color white - #F5F5F5; */
    /* Background color grey - #F5F4FA */



/* --------------------Page Header -------------- */

/*               Site nav             */
.logo-link{
    display: block;
}
.logo-link{
    color:#2196F3;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-header{
    color:#000000;
}
.link-current{
    color: #212121;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}
.site-nav{
    display: flex;
    margin-left: 93px;
}
.list{
    padding-left: 0;
}

.site-nav .item{
    margin-right: 50px;
}
.site-nav .link{
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
}

.site-nav .item:last-child{
    margin-right: 0;
}
.site-nav .link-current{
    text-decoration: none;
}
.link-current:hover, 
.link-current:focus{
    color: #2196F3;
}
.link-current{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
}
.link-nav:hover,
.link-nav:focus{
    color: #2196F3;
}
.link-nav{
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    text-decoration: none;
}

/* -------------------- Auth-nav ---------------- */
.auth-nav{
    display: flex;
    margin-left: auto;
}
.auth-nav .list{
    justify-content: left;
}

.auth-nav .item + .item{
    margin-left: 50px;
}

.link{
    text-decoration: none;
}
.link{
    color:#757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3333;
    letter-spacing: 0.02em;
}
.link:hover,
.link:focus{
    color: #2196F3;
}
.phone-number{
    text-decoration: none;
}
.phone-number{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: #757575;
}
.phone-number:hover,
.phone-number:focus{
    color: #2196F3;
}

/*---------------- Hero---------------  */
.hero{
    text-align: center;
    background-color: #2F303A;
    margin-bottom: 94px;
}
.hero-title{
    margin-top: 0;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn-hero:hover,
.btn-hero:focus{
    color: #2196F3;
}
.btn-hero{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    color: #FFFFFF;
    background-color: #2196F3;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: block;
    letter-spacing: 0.06em;
    cursor: pointer;
}

/*------------------- Section---------------- */
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.section-title{
    margin-top: 0;
    margin-bottom: 94px;
    color: #212121;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    letter-spacing: 0.03em;
}

/* -------------- Features ---------------- */
.feature-list{
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 94px;
}

.feature-list .title{
    margin-top: 0;
    margin-bottom: 10px;
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.feature-list .text:last-child{
    margin-right: 0;
}
.feature-list .item{
    width: 270px;
    margin-top: 0;
    margin-bottom: 94px;
    margin-right: 30px;
}
.feature-list .text{
    margin-top: 0;
    margin-bottom: 0;
    color:#757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
}
/*---------------- Section pic------------ */
.section-title .pic{
    margin-top: 0;
    margin-bottom: 50px;
}


.section-pic{
    margin-top: 0;
    margin-bottom: 94px;
    display: flex;
    gap: 30px;
    padding-left: 0;
}
/* --------------- Section-title Team ---------------- */
.section-title .tm{
    text-align: center;
}
.team{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    gap: 30px;
    padding-left: 0;
}
.border{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 94px;
}
.title-section{
    margin-top: 0;
    margin-bottom: 10px;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
}
.pics{
    margin-bottom: 30px;
}
.description{
    margin-top: 0;
    margin-bottom: 30px;
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
}
/* --------------------Footer------------------ */
.footer{
    background-color: #2F303A;
    font-style: none;
}
.footer .logo-header{
    color: #FFFFFF;
}
.logo-link.footer{
    background-color: #2F303A;
    margin-top: 0;
    margin-bottom: 30px;
}
.footer-info{
    margin-bottom: 9px;
    margin-top: 0;
    padding-left: 0;
    padding-bottom: 9px;
}
.address{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.mail:hover,
.mail:focus{
    color: #2196F3;
}
.mail{
    font-style: none;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: #FFFFFF99;
    text-decoration: none;
}
.phone:hover,
.phone:focus{
    color: #2196F3;
}
.phone{
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: #FFFFFF99;
    text-decoration: none;
}

/*--------------------- Портфоліо--------------- */
.button-link:hover,
.button-link:focus{
    color: #2196F3;
}
.btn-list{
    margin-top: 94px;
    justify-content: center;
}
.btn-list{
    display: flex;
    padding-left: 0;
    margin-bottom: 50px;
}
.button-link{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 6px 25px;
    margin-right: 8px;
    font-family: inherit;
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.button-nav:hover,
.button-nav:focus{
    color: #2196F3;
}

.button-nav{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 6px 22px;
    margin-right: 8px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    cursor: pointer;
}


/*-------------------- Section ----------------- */
* {
    box-sizing: border-box;
}

.flex-container{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}
.flex-element{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}

.flex-element:nth-child(3n) {
    margin: 0;
}
.flex-element:nth-last-child(-n + 3){
    margin-bottom: 0;
}
.pic-img{
    margin-top: 0;
    margin-bottom: 20px;
}
.sub-title{
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.content{
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}
.flex-element:nth-last-child(-n + 3) {
    margin-bottom: 94px;
}